click==7.1.2
DAWG-Python==0.7.2
docopt==0.6.2
lxml==4.8.0
numpy==1.22.3
pip==22.0.3
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyqt5-tools==5.15.4.3.2
python-dotenv==0.21.0
python-pptx==0.6.21
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
setuptools==57.4.0
XlsxWriter==3.0.3
